html {
    font-size: 10px;
}
body {
    overflow-y: hidden;
    --white: #FFF5F5;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    background: #721F04;
}
div.wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 500px;
    height: 100vh;
    color: var(--white);
    background: url(../img/bg.png);
    &::-webkit-scrollbar {
        display: none;
    }
    div.content {
        padding: 0 2rem;
        section#welcome {
            display: flex;
            flex-flow: nowrap row-reverse;
            margin-top: 10rem;
            opacity: 0;
            transition: opacity .5s ease, transform .7s cubic-bezier(.3,1.78,.31,.71);
            transform: scale(0);
            &.show {
                opacity: 1;
                transform: scale(1);
            }
            h2 {
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
                font-weight: 300;
                letter-spacing: 5px;
                text-align: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: start;
                span.lead {
                    margin-top: .5rem;
                    font-size: 2.4rem;
                    span.strong {
                        font-size: 3.2rem;
                        position: relative;
                        &::before {
                            content: url(../img/sekaibg.svg);
                            position: absolute;
                            z-index: -1;
                        }
                    }
                }
            }
            h3 {
                -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl;
                font-feature-settings: 'vert' on;
                font-size: 1.6rem;
                font-weight: 100;
                letter-spacing: .3rem;
                line-height: 190%;
                padding-top: 1rem;
                padding-right: 1rem;
            }
            p.img {
                margin-right: 1rem;
                img {
                    width: 100%;
                    height: 100%;
                    border-bottom-left-radius: 10rem;
                    object-fit: cover;
                }
            }
        }
        section#trick {
            margin-top: 6rem;
            opacity: 0;
            transition: opacity .5s ease, transform .7s cubic-bezier(.3,1.78,.31,.71);
            transform: scale(0);
            &.show {
                opacity: 1;
                transform: scale(1);
            }
            h2 {
                margin-bottom: 1rem;
            }
            p.img {
                width: 100%;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
                span.img_ude {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            h3 {
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 180%;
                margin-top: 1rem;
                span.strong {
                    &:nth-child(2) {
                        img {
                            transform: scale(1.25) translate(0, -.25rem);
                        }
                    }
                    &:nth-child(3) {
                        img {
                            transform: scale(1.25) translate(0, -.3rem);
                        }
                    }
                    &:nth-child(4) {
                        img {
                            transform: scale(1.25) translate(0, -.45rem);
                        }
                    }
                }
            }
        }
        section#news {
            h2 {
                text-align: center;
                margin-top: 6rem;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                &::before {
                    content: "";
                    width: 100%;
                    height: 3px;
                    border: #FFF5F5 solid .5px;
                    border-right: 0;
                    border-left: 0;
                }
                &::after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    border: #FFF5F5 solid .5px;
                    border-right: 0;
                    border-left: 0;
                }
            }
            ul {
                margin-top: 2rem;
                display: flex;
                flex-flow: column nowrap;
                row-gap: 4rem;
                align-items: end;
                li {
                    a.newslist {
                        article {
                            p.img {
                                width: 100%;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                                margin-bottom: 1.5rem;
                            }
                            h3 {
                                font-size: 1.6rem;
                                font-weight: 500;
                                line-height: 100%; /* 14px */
                                letter-spacing: 0.7px;
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                align-items: center;
                                span.tag {
                                    font-size: 1.4rem;
                                    font-weight: 500;
                                    letter-spacing: 0.7px;
                                    padding: .9rem 2rem;
                                    border: 1px solid #FFF5F5;
                                    border-left: 0;
                                    border-right: 0;
                                }
                            }
                            h4 {
                                font-size: 1.6rem;
                                font-weight: 500;
                                margin-top: 1rem;
                            }
                            p.summary {
                                margin-top: 1rem;
                                font-size: 1.4rem;
                                font-weight: 300;
                            }
                        }
                    }
                    a.more {
                        font-size: 1.6rem;
                        font-weight: 600;
                        position: relative;
                        top: -1.6rem;
                        span {
                            position: absolute;
                            inset: 0;
                            transform: translate(20%, -40%);
                            &::before {
                            content: url(../img/button_before.svg);
                            width: .8rem;
                            height: .8rem;
                            display: block;
                            position: absolute;
                            top: 30%;
                            left: -6%;
                        }
                    }
                }
            }
        }
        }
        section#access {
            margin-top: 6rem;
            h2 {
                font-size: 2.5rem;
                text-align: center;
                white-space: nowrap;
                font-weight: 500;
                span.strong {
                    font-size: 3rem;
                    span {
                        letter-spacing: -1.5rem;
                    }
                    span.first {
                        letter-spacing: 0;
                        margin-left: -5%;
                    }
                }
                span.eki {
                    font-size: 2.1rem;
                    font-weight: 300;
                }
                span.yori {
                    font-size: 1.9rem;
                }
                span.time {
                    font-size: 4.3rem;
                }
                span.sub {
                    font-size: 2rem;
                    font-weight: 300;
                }
            }
            section.table {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin-top: 3rem;
                h3 {
                    font-size: 2rem;
                    font-weight: 300;
                    padding: 1.5rem 0;
                    width: 100%;
                    text-align: center;
                    background-color: #292B40;
                    opacity: .9;
                    letter-spacing: .2rem;
                }
            }
            section.list {
                margin-top: 3rem;
                ul {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    row-gap: .8rem;
                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba($color: #721F04, $alpha: .5);
                        padding: 2rem 0;
                        margin: 0 auto;
                        width: calc(100% / 3 - .8rem);
                        h4 {
                            text-align: center;
                        }
                        &.last {
                            width: calc(100% / 3 * 2 - 8px);
                            background: rgba($color: #042972, $alpha: .8);
                            border-radius: 0 2rem 2rem 2rem;
                            h4 {
                                font-size: 2.4rem;
                                font-weight: 500;
                                letter-spacing: .2rem;
                                span.time {
                                    font-size: 4rem;
                                    span {
                                        font-size: 2rem;
                                    }
                                }
                                span.light {
                                    font-weight: 100;
                                }
                            }
                        }
                        &:nth-child(1) {
                            border-radius: 2rem 0 0 0;
                        }
                        &:nth-child(3) {
                            border-radius: 0 2rem 0 0;
                        }
                        &:nth-child(7) {
                            border-radius: 0 0 0 2rem;
                        }
                    }
                    &.bus {
                        li {
                            width: calc(100% / 2 - .8rem);
                            &:nth-child(3) {
                                border-radius: 0;
                            }
                            &:nth-child(2) {
                                border-radius: 0 2rem 0 0;
                            }
                            &.small {
                                padding: 1.5rem 0;
                                h4 {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }
                }
                p {
                    text-align: center;
                    font-size: 1.7rem;
                    font-weight: 300;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    letter-spacing: .1rem;
                    span {
                        display: inline-block;
                    }
                    span.bold {
                        font-weight: 500;
                    }
                    span.small {
                        font-size: 1.3rem;
                    }
                    span.big {
                        font-size: 2.5rem;
                        span {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            a.map {
                font-size: 1.4rem;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin-top: 2rem;
                iframe {
                    margin-top: 1rem;
                    width: 100%;
                    height: 30rem;
                    border-radius: 1rem;
                    border: 4px solid #721F04;
                    box-sizing: border-box;
                }
            }
        }
        section#contact {
            margin-top: 3rem;
            h2 {
                font-size: 1.8rem;
                font-weight: 700;
                letter-spacing: .1rem;
                display: flex;
                flex-flow: row nowrap;
                column-gap: 1rem;
                align-items: center;
                justify-content: space-between;
                &::before {
                    content: "";
                    display: block;
                    width: 10%;
                    height: .5rem;
                    border: 1px solid #FFF5F5;
                    border-right: 0;
                    border-left: 0;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 73%;
                    height: .5rem;
                    border: 1px solid #FFF5F5;
                    border-right: 0;
                    border-left: 0;
                }
            }
            ul {
                display: flex;
                flex-flow: column nowrap;
                margin-top: 1.2rem;
                padding-left: calc(10% + 1rem);
                row-gap: .7rem;
                li {
                    font-size: 1.5rem;

                }
            }
        }
    }
    section#footer {
        display: flex;
        flex-flow: row nowrap;
        background: url(../img/footer_bg.png);
        background-size: cover;
        justify-content: center;
        column-gap: 2rem;
        align-items: center;
        padding-top: 3rem;
        margin-top: 10rem;
        padding-bottom: 3rem;
        position: relative;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: -85%;
            background: url(../img/footer_top.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
        }
        div.left {
            display: flex;
            flex-flow: column nowrap;
            row-gap: .5rem;
            width: 30%;
            h2 {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            ul.sns {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                li {
                    width: 20%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        div.right {
            display: flex;
            flex-flow: column nowrap;
            row-gap: 1.5rem;
            font-size: 1.3rem;
            justify-content: center;
            align-items: center;
            nav {
                display: flex;
                flex-flow: row nowrap;
                column-gap: .5rem;
                a {
                    &:first-child {
                        &::after {
                            content: "ï½œ";
                            margin-left: .5rem;
                        }
                    }
                }
            }
            div.time {
                display: flex;
                flex-flow: column nowrap;
                align-items: start;
                justify-content: start;
                row-gap: 1rem;
            }
        }
    }
    footer {
        background: url(../img/footer_bg_2.png);
        text-align: center;
        font-size: 1.3rem;
        padding: 2rem 0;
        background-size: cover;
    }
}